In [17]:
## import libraries
import requests
import pandas as pd
from bs4 import BeautifulSoup
import time
from random import randint

In [18]:
claims = [1, 2, 3, 4, 5]
dates = [
    "<b class='table-label'>Filed Date</b><span class='table-content'>10/17/2019</span>",
    "<b class='table-label'>Filed Date</b><span class='table-content'>11/10/2019</span>",
    "<b class='table-label'>Filed Date</b><span class='table-content'>11/12/2019</span>", 
    "<b class='table-label'>Filed Date</b><span class='table-content'>12/07/2019</span>", 
    "<b class='table-label'>Filed Date</b><span class='table-content'>12/27/2019</span>" 
]
totals = [
    "<b class='table-label'>Claim Value</b><span class='table-content'>$10.00</span>",
    "<b class='table-label'>Claim Value</b><span class='table-content'>$20.00</span>",
    "<b class='table-label'>Claim Value</b><span class='table-content'>$30.00</span>",
    "<b class='table-label'>Claim Value</b><span class='table-content'>$40.00</span>",
    "<b class='table-label'>Claim Value</b><span class='table-content'>$50.00</span>"    
]

In [19]:
import pandas as pd
from bs4 import BeautifulSoup

In [20]:
df = pd.DataFrame(zip(claims, dates, totals),
                 columns = ["claims", "dates", "total"])
df

,claims,dates,total
0,1,<b class='table-label'>Filed Date</b><span cla...,<b class='table-label'>Claim Value</b><span cl...
1,2,<b class='table-label'>Filed Date</b><span cla...,<b class='table-label'>Claim Value</b><span cl...
2,3,<b class='table-label'>Filed Date</b><span cla...,<b class='table-label'>Claim Value</b><span cl...
3,4,<b class='table-label'>Filed Date</b><span cla...,<b class='table-label'>Claim Value</b><span cl...
4,5,<b class='table-label'>Filed Date</b><span cla...,<b class='table-label'>Claim Value</b><span cl...

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   claims  5 non-null      int64
 1   dates   5 non-null      object
 2   total   5 non-null      object
dtypes: int64(1), object(2)
memory usage: 248.0+ bytes

In [24]:
import requests

headers = {
    'authority': 'visorsantiago.jalisco.gob.mx',
    'accept': 'application/json, text/plain, */*',
    'accept-language': 'es-MX,es-419;q=0.9,es;q=0.8,en;q=0.7',
    'referer': 'https://visorsantiago.jalisco.gob.mx/',
    'sec-ch-ua': '"Google Chrome";v="119", "Chromium";v="119", "Not?A_Brand";v="24"',
    'sec-ch-ua-mobile': '?1',
    'sec-ch-ua-platform': '"Android"',
    'sec-fetch-dest': 'empty',
    'sec-fetch-mode': 'cors',
    'sec-fetch-site': 'same-origin',
    'user-agent': 'Mozilla/5.0 (Linux; Android 6.0; Nexus 5 Build/MRA58N) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/119.0.0.0 Mobile Safari/537.36',
}

response = requests.get('https://visorsantiago.jalisco.gob.mx/api/public/last/ICA', headers=headers)

In [25]:
response.json()

{'date': '2023-04-18',
 'stations': [{'id': 15,
   'name': 'RS-01',
   'description': 'Ocotlán',
   'location': '20.346928;-102.779392',
   'date': '2023-03-06',
   'ica': '41.471282257400'},
  {'id': 16,
   'name': 'RS-02',
   'description': 'Cortina Presa Corona - Poncitlán',
   'location': '20.399667;-103.090619',
   'date': '2023-04-18',
   'ica': '49.091276263100'},
  {'id': 17,
   'name': 'RS-03',
   'description': 'Ex-hacienda de Zapotlanejo',
   'location': '20.442003;-103.143814',
   'date': '2023-04-18',
   'ica': '46.023712702400'},
  {'id': 18,
   'name': 'RS-04',
   'description': 'Compuerta - Puente El Salto-Juanacatlán',
   'location': '20.512825;-103.174558',
   'date': '2023-04-18',
   'ica': '39.599267749500'},
  {'id': 19,
   'name': 'RS-05',
   'description': 'Puente Grande',
   'location': '20.571036;-103.147283',
   'date': '2023-04-18',
   'ica': '42.530168195900'},
  {'id': 20,
   'name': 'RS-06',
   'description': 'Vertedero Controlado Matatlán',
   'location': '20.668289;-103.187169',
   'date': '2023-04-17',
   'ica': '44.516547988100'},
  {'id': 21,
   'name': 'RS-07',
   'description': 'Paso de Guadalupe',
   'location': '20.839097;-103.328972',
   'date': '2023-04-17',
   'ica': '45.695732840800'},
  {'id': 22,
   'name': 'RS-08',
   'description': 'San Cristóbal de la Barranca',
   'location': '21.038356;-103.426036',
   'date': '2023-04-17',
   'ica': '42.883985723400'},
  {'id': 23,
   'name': 'RS-09',
   'description': 'Camino al Salvador - Tequila',
   'location': '20.912106;-103.711964',
   'date': '2023-04-17',
   'ica': '46.955975497400'},
  {'id': 24,
   'name': 'RS-10',
   'description': 'Paso La Yesca',
   'location': '21.190106;-104.073053',
   'date': '2023-04-17',
   'ica': '56.803629213700'},
  {'id': 25,
   'name': 'AA-01',
   'description': 'Carretera a Chapala antes de Aeropuerto',
   'location': '20.537825;-103.296703',
   'date': '2023-04-18',
   'ica': '30.383183172000'},
  {'id': 26,
   'name': 'AA-02',
   'description': 'Puente localidad El Muelle',
   'location': '20.497869;-103.216722',
   'date': '2023-04-18',
   'ica': '35.970000489300'},
  {'id': 27,
   'name': 'RZ-01',
   'description': 'Puente Carretera Guadalajara - La Barca',
   'location': '20.34455;-102.774767',
   'date': '2023-03-06',
   'ica': '37.631280384000'},
  {'id': 28,
   'name': 'RS-11',
   'description': 'RS-11',
   'location': '20.33763889;-102.7830833',
   'date': '2023-04-18',
   'ica': '42.847242359200'},
  {'id': 29,
   'name': 'RZ-02',
   'description': 'Puente San Miguel de La Paz',
   'location': '20.3975;-102.7286389',
   'date': '2023-04-17',
   'ica': '46.746948878800'},
  {'id': 30,
   'name': 'RZ-03',
   'description': 'Puente la Mata',
   'location': '20.51652778;-102.6109444',
   'date': '2023-04-17',
   'ica': '55.287894317100'},
  {'id': 31,
   'name': 'RZ-04',
   'description': 'Puente Degollado',
   'location': '20.56730556;-102.465',
   'date': '2023-04-17',
   'ica': '55.923995842700'},
  {'id': 32,
   'name': 'RZ-05',
   'description': 'Puente Betania',
   'location': '20.6525;-102.3674167',
   'date': '2023-04-17',
   'ica': '54.172613720800'},
  {'id': 33,
   'name': 'RL-01',
   'description': 'La Barca',
   'location': '20.276639;-102.561222',
   'date': '2022-12-06',
   'ica': '41.995959144200'},
  {'id': 34,
   'name': 'RL-02',
   'description': 'Maltaraña',
   'location': '20.22944444;-102.68725',
   'date': '2023-04-18',
   'ica': '45.812347120600'}]}

In [26]:
df_rio = pd.DataFrame(response.json())
df_rio

          date                                           stations
0   2023-04-18  {'id': 15, 'name': 'RS-01', 'description': 'Oc...
1   2023-04-18  {'id': 16, 'name': 'RS-02', 'description': 'Co...
2   2023-04-18  {'id': 17, 'name': 'RS-03', 'description': 'Ex...
3   2023-04-18  {'id': 18, 'name': 'RS-04', 'description': 'Co...
4   2023-04-18  {'id': 19, 'name': 'RS-05', 'description': 'Pu...
5   2023-04-18  {'id': 20, 'name': 'RS-06', 'description': 'Ve...
6   2023-04-18  {'id': 21, 'name': 'RS-07', 'description': 'Pa...
7   2023-04-18  {'id': 22, 'name': 'RS-08', 'description': 'Sa...
8   2023-04-18  {'id': 23, 'name': 'RS-09', 'description': 'Ca...
9   2023-04-18  {'id': 24, 'name': 'RS-10', 'description': 'Pa...
10  2023-04-18  {'id': 25, 'name': 'AA-01', 'description': 'Ca...
11  2023-04-18  {'id': 26, 'name': 'AA-02', 'description': 'Pu...
12  2023-04-18  {'id': 27, 'name': 'RZ-01', 'description': 'Pu...
13  2023-04-18  {'id': 28, 'name': 'RS-11', 'description': 'RS...
14  2023-04-18  {'id': 29, 'name': 'RZ-02', 'description': 'Pu...
15  2023-04-18  {'id': 30, 'name': 'RZ-03', 'description': 'Pu...
16  2023-04-18  {'id': 31, 'name': 'RZ-04', 'description': 'Pu...
17  2023-04-18  {'id': 32, 'name': 'RZ-05', 'description': 'Pu...
18  2023-04-18  {'id': 33, 'name': 'RL-01', 'description': 'La...
19  2023-04-18  {'id': 34, 'name': 'RL-02', 'description': 'Ma...